#red-id {
    width: 100px;
    height: 100px;
    background-color: red;
}

.darkgreen-class {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

.photo-col {
    background-color: rebeccapurple;
    height: 900px;
}
#photo-gallery {
    background-color: seashell;
    height: 900px;
}

.photo-small {
    width: 100%;
    height: 380px;
    background-color: skyblue;
    margin-top: 20px;
    overflow: hidden;
}
.photo-big {
    width: 100%;
    height: 480px;
    background-color: snow;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width:600px) {
    .video {
        margin-top: 5px;
        width: 100%;
        height: 200px;
    }
}
@media (min-width:800px) {
    .video {
        margin-top: 10px;
        width: 100%;
        height: 300px;
    }
}
@media (min-width:990px) {
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}